@import "./themes/mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CaskaydiaMono Nerd Font";
  /* font-family: "JetBrainsMono Nerd Font", "NotoSansMono Nerd Font", "JetBrains Mono", "Fira Code", "Inconsolata", "Noto Sans", monospace, "CaskaydiaMono Nerd Font"; */
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background: transparent;
  color: @text;
}

/* .modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 4px
} */

.modules-center {
  background: @surface0;
  border-radius: 9px;
  padding: 0px 2px;
  margin: 0px 8px;
}

#topleft {
  background: @surface0;
  border-radius: 9px;
  padding: 0px 0px;
  margin: 0px 8px;
}

#custom-launcher {
  border-radius: 1rem 0px 0px 1rem;
  color: @rosewater;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces,
#taskbar{
  background: @surface0;
  border-radius: 9px;
  padding: 0px 0px;
  margin-right: 8px;
}

#clock {
  margin: 0px 8px;
}

#custom-launcher,
#custom-files,
#backlight,
#battery,
#window,
#pulseaudio,
#bluetooth,
#custom-lock,
#custom-power {
  background-color: @surface0;
  min-width: 8px;
  margin: 0 8px;
}

#settings {
  background: @surface0;
  border-radius: 9px;
  padding: 0px 5px;
  margin-right: 8px;
}

#tray {
  background: @text;
  border-radius: 9px;
  padding: 0px 5px;
  margin: 0px 8px;
}

#hardware {
  background-color: @surface0;
  border-radius: 9px;
  margin-right: 8px;  
}

#cpu,
#memory,
#temperature {
  margin: 0 8px;
}

tooltip {
  padding: 2px;
  /* background: @background; */
  /* opacity: 0.95; */
  border-radius: 9px;
}

.hidden {
  opacity: 0;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}